/*页面初始化*/
html{font-size:100px;}
*{padding:0;margin:0;}
ul,ol,li{list-style: none;}
html,body{overflow-x:hidden;width:100%;font-family: "microsoft yahei";color:@color-text;background: @color-bodybg;}
a,a:active,a:hover,a:visited,a:target{color:@color-text}
.fl{float:left;}
.fr{float:right;}
.clearfix:after{content:"";display:block;height:0;clear:both;visibility:hidden;}
*{box-sizing: border-box;}
.mt20{margin-top: 0.2rem;}
.ml20{margin-left: 0.2rem;}
.mb20{margin-bottom: 0.2rem;}
.mr20{margin-right: 0.2rem;}
//在线图标库
@font-face {
  font-family: 'iconfont';  /* project id："189211" */
  src: url('//at.alicdn.com/t/font_575hf9m0ol34ygb9.eot');
  src: url('//at.alicdn.com/t/font_575hf9m0ol34ygb9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_575hf9m0ol34ygb9.woff') format('woff'),
  url('//at.alicdn.com/t/font_575hf9m0ol34ygb9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_575hf9m0ol34ygb9.svg#iconfont') format('svg');
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
/*一些页面公用的方法*/
@color-bodybg:#f4f5f6;
@color-text:#333;
@color-blue:#4FB1FE;
@color-white:#fff;
@color-border:#EFEFEF;
@color-qianblue:#9bd4ff;
@color-999:#999999;
@color-555:#555555;
@color-5d6e7a:#5d6e7a;
@color-ccc:#ccc;
.bgqiangreen{background: #9ddc72;}
.bggreen{background: #3ccdab;}
.bgred{background: #fa676f;}
.bgblue{background: #6cb1ff;}
.bgorange{background: #ff9f4d;}
.bgpink{background: #e098f8;}
.textoverflow(){
    overflow: hidden;text-overflow: ellipsis;white-space: nowrap;
}
.disb(@dis:block){
    display: @dis;
}
.radius(@radius:50%){
    border-radius:@radius;
}
.rotate(@rorate:-15deg){
    transform: rotate(@rorate);
    -webkit-transform: rotate(@rorate);
}
.position(@a:relative){position:@a;}

/*style*/
.Header{
    height:0.88rem;
    .mui-title{
        height:0.88rem;line-height: 0.88rem;color:@color-white;font-size:0.34rem;
    }
}
.mui-switch{height:0.3rem;border-width:0.02rem;}
.mui-switch-mini{width:0.68rem;}
.mui-switch .mui-switch-handle{width:0.28rem;height:0.28rem;left:-0.01rem;top:-0.01rem;}
.mui-switch-mini.mui-active .mui-switch-handle{-webkit-transform: translate(0.38rem,0);
    transform: translate(0.38rem,0);}
.mui-bar-nav~.mui-content{padding-top:0.88rem;}
.mui-bar .mui-title{left:0.88rem;right:0.88rem;}
.mui-bar .mui-icon{font-size:0.38rem;padding-top:0.25rem;padding-bottom:0.25rem;color: @color-white;}
.mui-bar-nav.mui-bar .mui-icon{padding-top:0.25rem;padding-bottom:0.25rem;}
.peopleinfo{
    width:100%;
    height:2.92rem;
    border-bottom:1px solid @color-border;
    background: @color-white;
    overflow: hidden;
    .position();
    .banner_img{
        img{
            width:100%;
            height:2.58rem;
        }
    }
    .info_bg{
        height:1.92rem;background: @color-white;
        .position(absolute);width:105%;z-index: 1;.rotate(-12deg);bottom:-0.56rem;left:0rem;
    }
    .info_wrap{
        width:100%;
        height:1.92rem;
        .position(absolute);
        bottom:0.01rem;left:0;z-index: 2;
        .past{
            width:0.8rem;height:0.8rem;background: @color-qianblue;
            .disb();.radius();.position(absolute);right:0.3rem;top:-0.25rem;
            text-align: center;
            i{
                font-size:0.34rem;color:@color-white;
                line-height: 0.8rem;
            }
        }
        .mes{
            margin-top: 0.5rem;padding:0 0.15rem;
            .touxiang{
                img{width:1.2rem;height:1.2rem;border:0.03rem solid rgba(255,255,255,.6);.radius();overflow: hidden;}
                p{color:@color-text;font-size:0.3rem;margin-top: 0.8rem;}
            }
            .tongji{
                width:4rem;margin-top:0.32rem;
                a{
                    width:25%;float:left;display: block;height:0.65rem;text-align: center;
                    h2{
                        font-size:0.18rem;color:@color-999;font-weight: normal;line-height: 0.38rem;
                    };
                    p{
                        color:@color-555;font-size:0.4rem;
                    }
                }
            }
        }
        
    }
}
.enter{
    width:100%;background: @color-white;
    a{
        width:25%;display: block;float:left;text-align: center;
        img{
            width:1rem;height:1rem;.disb(inline-block);.radius();margin:0.2rem 0rem;
        }
        p{
            margin-bottom: 0.2rem;
            color:@color-5d6e7a;font-size:0.28rem;
        }
    }
}
.title{
    height:0.72rem;border-top:0.01rem solid @color-border;border-bottom:0.01rem solid @color-border;background: @color-white;padding:0rem 0.25rem;line-height: 0.72rem;font-size:0.32rem;color:@color-5d6e7a;
    .iconfont{font-size:0.38rem;margin-right: 0.15rem;color:@color-blue;}
}
.module{background: @color-white;
    .shi{
        margin:0;list-style: none;padding:0.08rem 0.2rem;
        li{
            padding:0.08rem 0rem;color:@color-5d6e7a;.textoverflow;font-size:0.26rem;line-height: 0.3rem;
        }
    }
    .otherapp{padding:0px 0.1rem;
        a{width:20%;display: block;float:left;text-align: center;padding:0.3rem 0 0.2rem 0;
            i{
                font-size:0.45rem;display: inline-block;height:0.45rem;color: @color-5d6e7a;
            }
            p{
                margin-bottom: 0;
                font-size:0.26rem;color:@color-5d6e7a;
            }
        }
    }
}
//工作计划
.plan_lists{  
    li{
        list-style: none;
        margin-top: 0.2rem;
        padding:0.15rem 0.25rem;
        background: @color-white;
        border-bottom: 1px solid @color-border;border-top:1px solid @color-border;
        .date_switch{
            padding:0.1rem 0;
            .date{
                color:@color-5d6e7a;font-size:0.3rem;height:0.3rem;
            } 
        }
        .plan_desc{
            font-size:0.26rem;color:@color-555;line-height: 0.3rem;padding: 0.1rem 0;
        }
        .place_contact{
           line-height: 0.3rem;padding: 0.1rem 0;
           span{
               font-size:0.24rem;color:@color-999;
               i{
                   font-size:0.25rem;color:@color-blue;
               }
           }
        }
    }
}
.mui-switch-green.mui-active{border-color: #3ccdab;
    background-color: #3ccdab;}
.header_button{
    font-size:0.28rem;color:@color-white;
    height:0.28rem;
    margin: 0.3rem 0.15rem;
}
.section_module{
    border-bottom: 0.01rem solid @color-border;
    border-top: 0.01rem solid @color-border;
    background: @color-white;
}
.mui-input-group {
    padding:0rem 0.25rem;
    .icon{
        width:0.4rem;height:0.4rem;.radius(15px);display:block;float:left;margin-right: 0.15rem;line-height: 0.4rem;text-align: center;
        .iconfont{
            font-size:0.24rem;color:@color-white;
        }
    }
    .input-row{
        padding:0.2rem 0rem;height:0.8rem;border-bottom: 0.01rem solid @color-border;
        label{
            height:0.4rem;display: block;float:left;overflow: hidden;line-height: 0.4rem;font-size:0.28rem;color:@color-999;
            .label{
                width:1.55rem;display: block;float:left;
            }
        }
        .input{
            width:3.8rem;height:0.4rem;position:relative;padding:0rem 0.2rem;
            .select{
                text-align: right;
            }
            .text{
                height:0.4rem;font-size:0.28rem;font-family: "microsoft yahei";color:@color-5d6e7a;padding:0;
            }
            .text[disabled=disabled]{
                color:@color-ccc;
            }
            .iconfont{
                font-size:0.25rem;position:absolute;right:0;top:0;line-height: 0.4rem;color:@color-ccc;
            }
        }
    }
    .row{
        textarea{
            height:1rem;padding:0.2rem 0px;font-size:0.26rem;color:@color-ccc;font-family: "microsoft yahei";
        }
    }
    .remind{
        .icon{
            margin-top: 0.2rem;
        }
        .mui-switch{
            margin: 0.05rem 0;
        }
    }
    
}

