<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>首页</title>
    <link href="css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/iconfont.css" />
    <link rel="stylesheet/less" href="css/style.less" />
	<script src="js/less-2.5.3.min.js"></script>
    <script src="js/zepto.min.js"></script>
    <script src="js/mui.min.js"></script>
    <script src="js/public.js"></script> 
</head>
<body>
	<header class="mui-bar mui-bar-nav Header bgblue">
	    <h1 class="mui-title">CRM</h1>
	</header>
	<div class="mui-content">
	    <section class="peopleinfo">
	    	<div class="banner_img">
	    		<img src="images/banner.jpg"/>
	    	</div>
	    	<div class="info_bg"></div>
	    	<div class="info_wrap">
	    		<a href="" class="past">
	    			<i class="iconfont">&#xe674;</i>
	    		</a>
	    		<div class="clearfix mes">
	    			<div class="fl clearfix touxiang">
		    			<img src="images/touxiang.png" class="fl"/>
		    			<p class="fl">周丽红</p>
		    		</div>
		    		<div class="fl tongji">
		    			<a href="">
		    				<h2>新增客户</h2>
		    				<p>3</p>
		    			</a>
		    			<a href="">
		    				<h2>新增联系人</h2>
		    				<p>10</p>
		    			</a>
		    			<a href="">
		    				<h2>新增跟进</h2>
		    				<p>21</p>
		    			</a>
		    			<a href="">
		    				<h2>拜访次数</h2>
		    				<p>6</p>
		    			</a>
		    		</div>
	    		</div>
	    	</div>
	    </section>
	    <section class="enter clearfix">
	    	<a href="WorkPlan/WorkPlan.html">
	    		<img src="images/workplan.png" alt="" />
	    		<p class="enter_name">工作计划</p>
	    	</a>
	    	<a href="VisitSign/VisitSign.html">
	    		<img src="images/visitsign.png" alt="" />
	    		<p class="enter_name">拜访签到</p>
	    	</a>
	    	<a href="FollowRecord/FollowupRecord.html">
	    		<img src="images/followuprecord.png" alt="" />
	    		<p class="enter_name">跟进记录</p>
	    	</a>
	    	<a href="WorkReport/WorkReport.html">
	    		<img src="images/workreport.png" alt="" />
	    		<p class="enter_name">工作报告</p>
	    	</a>
	    </section>
	    <section class="todayshi mt20">
	    	<div class="title">
	    		<i class="iconfont">&#xe743;</i>今日事项
	    	</div>
	    	<div class="module">
	    		<ul class="shi">
	    			<script type="text/template" id="todayshi_template">
	    				<% $.each(result,function(index,item){ %>
	    				<li>
		    				<%= item.Title %>
		    			</li>
		    			<% }) %>
	    			</script>
	    			<li>
	    				1.今天上午去北京航空航天大学查看现场设备
	    			</li>
	    			<li>
	    				2.北京市海淀区学院北京理工大学拜访张主任
	    			</li>
	    			<li>
	    				3.您下午三点的会议别忘记哦
	    			</li>
	    		</ul>
	    	</div>
	    </section>
	    <section class="todayshi mt20">
	    	<div class="title">
	    		<i class="iconfont">&#xe604;</i>其他应用
	    	</div>
	    	<div class="module clearfix">
	    		<div class="otherapp">
	    			<a href="">
		    			<i class="iconfont">&#xe6f5;</i>
		    			<p class="enter_name">客户信息</p>
		    		</a>
		    		<a href="">
		    			<i class="iconfont">&#xe61d;</i>
		    			<p class="enter_name">联系人</p>
		    		</a>
		    		<a href="ForgottenReminder/ForgottenReminder.html">
		    			<i class="iconfont">&#xe6c7;</i>
		    			<p class="enter_name">遗忘提醒</p>
		    		</a>
		    		<a href="ShareCircle/ShareCircle.html">
		    			<i class="iconfont">&#xe645;</i>
		    			<p class="enter_name">分享圈</p>
		    		</a>
		    		<a href="">
		    			<i class="iconfont">&#xe61a;</i>
		    			<p class="enter_name">销售简报</p>
		    		</a>
	    		</div>
	    	</div>
	    </section>
	</div>
	<script type="text/javascript" src="js/ejs.min.js"></script>
	<script>
		mui.init({
			keyEventBind: {
				backbutton: true  //启动back按键监听
			}
		});
		
		$('.enter').on('tap','a',function(){
			var id = this.getAttribute('href');
			var href=this.href;
			mui.openWindow({
				id:id,
				url:href,
				show:{
			      autoShow:true,
			      aniShow:'slide-in-right',
			      duration:'200ms'
			   	},
			   	waiting: {
					autoShow: true
				}
			})
		})
		$('.otherapp').on('tap','a',function(){
			var id = this.getAttribute('href');
			var href=this.href;
			mui.openWindow({
				id:id,
				url:href,
				show:{
			      autoShow:true,
			      aniShow:'slide-in-right',
			      duration:'200ms'
			   	},
			   	waiting: {
					autoShow: false
				}
			})
		})
	</script>
</body>
</html>